/* stylelint-disable color-hex-length */

/**
 * IEV-PUCPR preset file.
 *
 * Author: Florentino VelázquezVergne
 *
 * Use this space to customise variables, create mixins and override SCSS.
 */

// Colors
$gray-dark: #373a3c !default;
$gray: #55595c !default;
$gray-light: #807f83 !default;
$gray-lighter: #eeeef0 !default;
$gray-lightest: #f7f7f9 !default;

$brand-primary: #007dc3 !default;
$brand-info: #ad53b2 !default;
$brand-success: #77b300 !default;
$brand-warning: #ff8800 !default;
$brand-danger: #ff4136 !default;
$brand-inverse: $gray-dark !default;
$navbar-height: 50px !default;

// Spacing
$spacer: 1rem !default;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;
$border-width: 1px !default;

// Body
$body-bg: #f4f4f4 !default;
$body-color: #262626 !default;

// Typography
$font-family-sans-serif: "Open Sans", "Helvetica Neue", Arial, sans-serif !default;
$font-size-root: 14px !default;

// Tables
$table-bg: transparent !default;
$table-bg-accent: #fafafa !default;
$table-bg-hover: lighten($brand-primary, 55%) !default;
$table-bg-active: $table-bg-hover !default;
$table-border-color: #f4f4f4 !default;

// Dropdowns
$dropdown-border-color: #e2e2e2 !default;
$dropdown-link-color: $body-color;

// Navbar
$navbar-light-color: rgba(0, 0, 0, .535) !default;
$navbar-light-hover-color: $brand-primary !default;
$navbar-light-active-color: $brand-primary !default;

// Cards
$card-border-radius: 0 !default;
$card-border-color: rgba(238, 238, 238, 1) !default;

// Breadcrumbs
$breadcrumb-bg: transparent !default;
$breadcrumb-padding-x: 0 !default;
$breadcrumb-divider: "/" !default;
$breadcrumb-divider-rtl: "/" !default;

// Import everything.
@import "moodle";

/**
 * Links
 */

body {
	background-color: $gray-lighter;
}

/**
 * Links
 */

a:hover,
a:focus {
	color: lighten($brand-primary, 10%);
}

/**
 * Navigation bar identity.
 */

.navbar-light {
	background-color: $brand-primary;
	border-bottom: $border-width solid $brand-primary;
	.container {
		padding-left: 0;
		padding-right: 0;
	}
	.navbar-brand {
		padding-left: 1rem;
		padding-right: 1rem;
		margin-right: $spacer * 2;
		color: #fff;
		background-color: $brand-primary;
		@include hover-focus {
			color: #fff;
		}
		&.has-logo {
			color: $brand-primary;
			background-color: transparent;
			@include hover-focus {
				color: $brand-primary;
			}
			padding-top: 0;
		}
	}
	.navbar-nav {
		.nav-item + .nav-item {
			margin-left: $spacer * 2;
		}
		.nav-link {
			font-size: $font-size-sm;
			text-transform: uppercase;
			letter-spacing: 1px;
			color: #fff;
			&:hover {
				color: #fff;
			}
			&:focus {
				color: #fff;
			}
		}
	}
}

.usermenu {
	color: #fff;
	.login a {
		color: #fff;
		&:hover {
			color: #fff;
		}
		&:focus {
			color: #fff;
		}
	}
}

.userbutton {
	color: #fff;
}

.dropdown-toggle::after {
	color: #fff;
	&:hover {
		color: #fff;
	}
	&:focus {
		color: #fff;
	}
}

/**
 * Styling the dropdown menus.
 */

.dropdown-menu {
	font-size: 14px;
	color: $brand-primary;
	border-radius: 0;
	.dropdown-item {
		color: $brand-primary;
		padding-top: 8px;
		padding-bottom: 8px;
		border-bottom: $border-width solid $dropdown-border-color;
		&:last-child {
			border-bottom: 0;
		}
		.icon {
			color: $brand-primary;
		}
	}
	.dropdown-divider {
		display: none;
	}
}

/**
 * User picture.
 */

.userpicture {
	border-radius: 50%;
}

/**
 * For background in content areas.
 */

#page.container-fluid {
	padding: 0 (2 * $spacer);
}

#block-region-side-pre {
	padding-left: 0;
}

/**
 * Dashboard styling.
 */

#page-my-index {
	#region-main {
		background-color: transparent;
		border: 0;
		padding: 0;
	}
}

#nav-drawer {
	padding: 0;
	background-color: $brand-primary;
	top: 49px;
	width: 200px;
	.list-group-item {
		color: #fff;
		background-color: transparent;
		border: 1px solid transparent;
		padding: .55rem 1rem;
		&:focus,
		&:hover {
			background-color: lighten($brand-primary, 10%);
		}
		.media-left {
			background-repeat: no-repeat;
			background-position: center;
			.smallicon {
				visibility: hidden;
			}
		}
	}
}

body.drawer-open-left {
	margin-left: 200px;
}

.fa-folder::before {
	color: #fff;
}

.fa-user::before,
.fa-pencil::before,
.fa-arrows::before,
.fa-plus::before,
.fa-gear::before,
.fa-cog::before,
.fa-globe::before,
.fa-cubes::before,
.fa-institution::before,
.fa-bank::before,
.fa-university::before,
.fa-group::before,
.fa-sort-up::before,
.fa-unsorted::before,
.fa-sort::before,
.fa-sort-asc::before,
.dropdown-item a,
.fa-calendar::before,
.fa-trash::before,
.fa-users::before,
.fa-bars::before,
.fa-check:before,
.fa-arrows-v::before {
	color: $brand-primary;
}

/**
 * Blocks.
 */

.block-region .card-block {
	.card-title {
		padding-bottom: ($spacer/2);
		font-size: 1.143rem;
		font-weight: 600;
		text-transform: uppercase;
	}
}

/**
 * Navigation.
 */

.block_navigation,
.block_settings {
	.block_tree .tree_item {
		margin: ($spacer/2) 0;
	}
}

/**
 * Form styles.
 */

.form-group {
	margin-top: ($spacer/2);
}

.form-inline .form-group {
	margin-top: 0;
}

/**
 * Buttons
 */

.btn-primary:hover {
	background-color: lighten($brand-primary, 10%);
	border-color: lighten($brand-primary, 10%);
}